 body{
       
        background-color:lightcyan;
    }


h1{
    color:crimson;
    text-align: center;
}

h2{
    color: darkred;
}

p{
    font-style: italic;
    font-size: x-large;
    color: darkgreen;
}
