#logo{
    height: 30px;
    margin-right: 1000px;
}
#mhead{
    font-size: 80px;
    text-align: left;
}
#sb{
    background-color: pink;
    border-radius: 2px;
    
}
#snew{
    margin-right: 900px;
    font-size: 30px;
}
#trust{
    font-size: 20px;
    text-align: center;
}
#rgr{
    text-decoration: none;
}

